body{
	display:flex;
	justify-content: center;
}
.outer-container{
	display: flex;
	flex-direction: column;
	height: 40rem;
	width:30rem;
	background-color: grey;
	align-items: center;
	justify-content: space-around;
	
}

@media (max-width: 572px) {
	.outer-container{
		width:95%;
	}
}
.calculator-heading{
	display: flex;
	height: 3rem;
	width: 90%;
	background-color: black;
	/* margin-top:2rem; */
	justify-content:center;
	align-items: center;
}

.calculator-heading p{
	color: white;
	font-size:2rem
}

.display-result{
	height: 8rem;
	width: 90%;
	background-color: white;
	/* margin-top: 2rem; */
	border-radius: 5px;
}
.display-result p{
	text-align: right;
	font-size: 2rem;
	margin: 5rem 1rem;
}

 
.key{
	display: flex;
	background-color: white;
	border:1px solid grey;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
}

.white-zero{
	grid-column: 1/span 2;
}

.brown{
	background-color: brown;
} 

.white{
	background-color:white
}

.key:hover{
	background-color: yellow;
	border:none;
}

.key-container{
	display: grid;
	grid-template-columns: 5rem 5rem 5rem 5rem;
	grid-template-rows: 3rem 3rem 3rem 3rem 3rem;
	box-sizing: border-box;
	
}